$maincolor: #ac0202;
$second-color: rgb(232, 232, 232);

@mixin flexrow {
    display: flex;
    flex-direction: row;
}
@mixin flexcol {
    display: flex;
    flex-direction: column;
}
@mixin u-paddings {
    padding: 0 10%;
}
*{
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    color: black;
}


body {
    background-color: rgba($color: #202020, $alpha: 1.0);
    height: auto;
    header {
    width: 100wh;
    height: 3.5rem;
    @include flexrow;
    justify-content: space-between;
    margin: 0 20px;
    align-items: center;
    #ps-home {
        p {
        text-transform: uppercase;
        color: whitesmoke;
        letter-spacing: 10px;
        }
    }
    #cfc {
    @include flexrow;
    width: auto;
    gap: 10px;
    height: 3,5rem;
    a{
        p{
        text-transform: uppercase;
        color: whitesmoke;
        font-size: 15px;
        }
    }
    }
    #slb {
        @include flexrow;
        gap: 10px;
    button {
        p {
        font-size: 15px;
        padding: 3px 9px;
        }
    }

    }
    }
    #main {
        
  display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   grid-template-areas:
    "fit vibes"
    "fit others";
        width: 80rem;
        height: 50rem;
        gap: 10px;
        justify-self: center;
        grid-auto-flow: dense;
        padding-top: 30px;
        .mFBO {
            background-color: #131212;
            border-radius: 10px;
        }
        .fit{
            grid-area: fit;
            width: 57rem;
            height: 50rem;
        }
        .vibes{
            grid-area: vibes;
            width: 33.25rem;
            height: 24rem;
        }
        .others{
            grid-area: others;
            width: 33.25rem;
            height: 24rem;
            background-color: #ac0202;
        }
    }
}

